{% extends 'base/base.html' %}

{% block meta_description %}{% if ad is not None %}OnlyMarriage ad: {{ ad.title }}{% else %}Ad not found!{% endif %}{% endblock %}
{% block title %}{% if ad is not None %}Ad info for ad id: {{ ad.id }}{% else %}Ad not found!{% endif %}{% endblock %}
{% block content %}
    <h1>Ad Info</h1>
    {% if ad is not None %}
        <h2>{{ ad.title }}</h2>
        <p><strong>Id</strong>: {{ ad.id }} - created by {{ ad.poster }} on {{ ad.created_on }}</p>
        <p><strong>Last Updated on:</strong> {{ ad.last_updated }}</p>
        <p><strong>Category</strong>: {{ ad.category }}</p>
        <p><strong>Location</strong>: {{ ad.location }}</p>
        <p><strong>Favorites</strong>: {{ ad.favorite }}</p>
        <hr />
        <h3>Description:</h3>
        <p>{{ ad.description }}</p>
        <br />
        <br />
        <p>tags:</p>
        <ul>
            {% for tag in ad.tags %}
                <li>{{ tag }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Couldn't found an ad post with given id.</p>
        <p>Either it does not exist or was taken down.</p>
    {% endif %}
{% endblock %}
