{% extends 'base/base.html' %}

{% block meta_description %}View ads on OnlyMarriage{% endblock %}
{% block title %}Ads List{% endblock %}
{% block content %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold text-gray-800 mb-6">Personals</h1>

        {% if ad_list %}
            <div class="space-y-4">
                {% for ad in ad_list %}
                    <div class="bg-white border border-gray-300 rounded-lg shadow-md p-4 flex items-center space-x-4">
                        <div class="flex-1">
                            <a href="/ads/info/{{ ad.id }}" class="text-blue-600 hove:text-blue-800 text-md font-medium">
                                {{ ad.title|slice:":75" }}{% if ad.title|length > 75 %}...{% endif %}
                            </a>
                            <div class="text-gray-600 text-sm inline">
                                • {{ ad.get_location_display }}
                            </div>
                            <div class="flex-shrink-0 text-gray-500 text-sm inline">
                                • {{ ad.created_on|date:"m/d" }}
                            </div>
                        </div>
                        {% if user.is_authenticated %}
                            <form action="{% url 'flag_ad' ad.id %}" method="post" class="inline">
                                {% csrf_token %}
                                <input type="submit" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600" value="Flag" />
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}

            <div class="flex justify-center mt-8">
                <nav aria-label="Page navigation">
                    <ul class="flex items-center space-x-2">
                        {% if ad_list.has_previous %}
                            <li>
                                <a href="?page_no=1" class="px-4 py-2 bg-gray-200 text-gray-600 hover:bg-gray-300 rounded-md">
                                    First
                                </a>
                            </li>
                            <li>
                                <a href="?page_no={{ ad_list.previous_page_number }}" class="px-4 py-2 bg-gray-200 text-gray-600 hover:bg-gray-300 rounded-md">
                                    Previous
                                </a>
                            </li>
                        {% endif %}

                        {% for page_num in ad_list.paginator.page_range %}
                            {% if ad_list.number == page_num %}
                                <li>
                                    <span class="px-4 py-2 bg-blue-500 text-white rounded-md">
                                        {{ page_num }}
                                    </span>
                                </li>
                            {% else %}
                                <li>
                                    <a href="?page_no={{ page_num }}" class="px-4 py-2 bg-gray-200 text-gray-600 hover:bg-gray-300 rounded-md">
                                        {{ page_num }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if ad_list.has_next %}
                            <li>
                                <a href="?page_no={{ ad_list.next_page_number }}" class="px-4 py-2 bg-gray-200 text-gray-600 hover:bg-gray-300 rounded-md">
                                    Next
                                </a>
                            </li>
                            <li>
                                <a href="?page_no={{ ad_list.paginator.num_pages }}" class="px-4 py-2 bg-gray-200 text-gray-600 hover:bg-gray-300 rounded-md">
                                    Last
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
       {% else %}
            <div class="flex justify-center items-center h-64">
                <p class="text-lg text-gray-500 font-semibold">No ads available.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
