{% extends 'base/base.html' %}

{% block meta_description %}Privacy Policy for OnlyMarriage{% endblock %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
    <h1 class="text-2xl font-semibold">OnlyMarriage Privacy Policy (updated Sept 01, 2024)</h1><br />
    <p>
        This policy details how data about you is used when you access our websites and services,
        including via our mobile applications (together, "ONLYMARRIAGE") or interact with us. If
        we update it, we will revise the date, place notices on ONLYMARRIAGE if changes are
        material, and/or obtain your consent as required by law.
    </p><br />
    <h2 class="text-xl font-bold">1. Protecting your privacy</h2>
    <ul class="list-disc list-inside indent-10">
        <li>We take precautions to prevent unauthorized access to or misuse of data about you.</li>
        <li>We do not run ads, other than the classifieds posted by our users.</li>
        <li>We do not share your data with third parties for marketing purposes.</li>
        <li>We do not engage in cross-marketing or link-referral programs.</li>
        <li>We do not employ tracking devices for marketing purposes.</li>
        <li>We do not send you unsolicited communications for marketing purposes.</li>
        <li>We do not engage in affiliate marketing (and prohibit it on ONLYMARRIAGE).</li>
        <li>We do not respond to "Do Not Track" signals (see <a href="https://allaboutdnt.com">allaboutdnt.com</a>)</li>
    </ul><br />
    <h2 class="text-xl font-bold">2. Data we collect, use and disclose:</h2>
    <p>
        Below is a list of all the types of data we have collected in the last 12 months, where we
        got it, why we collected it and the categories of third parties to whom we disclosed it. We
        do not sell your data to third parties.
    </p><br />
    <table class="table-fixed border-collapse border border-slate-500 text-center">
        <tr>
            <th class="border border-slate-600">Data type</th>
            <th class="border border-slate-600">Where we got it</th>
            <th class="border border-slate-600">Why collected</th>
            <th class="border border-slate-600">Disclosed to</th>
        </tr>
        <tr>
            <td class="border border-slate-600">First and last name</td>
            <td class="border border-slate-600">User entry</td>
            <td class="border border-slate-600">Facilitating transactions and personalizing your use of ONLYMARRIAGE</td>
            <td class="border border-slate-600">No one</td>
        </tr>
        <tr>
            <td class="border border-slate-600">Email</td>
            <td class="border border-slate-600">User Entry</td>
            <td class="border border-slate-600">Account creation, ONLYMARRIAGE-to-user communications and combatting fraud/abuse</td>
            <td class="border border-slate-600">No one</td>
        </tr>
        <tr>
            <td class="border border-slate-600">Geographic location (latitude and longitude)</td>
            <td class="border border-slate-600">User entry, IP/geolocation providers</td>
            <td class="border border-slate-600">Personalizing your use of ONLYMARRIAGE and combatting fraud/abuse</td>
            <td class="border border-slate-600">No one</td>
        </tr>
        <tr>
            <td class="border border-slate-600">Photos and other data you voluntarily provide, post on or send via ONLYMARRIAGE</td>
            <td class="border border-slate-600">User entry</td>
            <td class="border border-slate-600">Facilitating and personalizing your use of ONLYMARRIAGE</td>
            <td class="border border-slate-600">No one</td>
        </tr>
        <tr>
            <td class="border border-slate-600">Saved searches, account preferences, favorite/hidden posting</td>
            <td class="border border-slate-600">User entry</td>
            <td class="border border-slate-600">Facilitating and personalizing your use of ONLYMARRIAGE</td>
            <td class="border border-slate-600">No one</td>
        </tr>
        <tr>
            <td class="border border-slate-600">HTTP browser cookie</td>
            <td class="border border-slate-600">User's browser, ONLYMARRIAGE web server</td>
            <td class="border border-slate-600">Facilitating and personalizing your use of ONLYMARRIAGE and combatting fraud/abuse</td>
            <td class="border border-slate-600">No one</td>
        </tr>
        <tr>
            <td class="border border-slate-600">Information about your device and browser such as device ID, browser version, operating system, plugins</td>
            <td class="border border-slate-600">User's browser, mobile app</td>
            <td class="border border-slate-600">Facilitating and personalizing your use of ONLYMARRIAGE and combatting fraud/abuse</td>
            <td class="border border-slate-600">No one</td>
        </tr>
        <tr>
            <td class="border border-slate-600">IP address</td>
            <td class="border border-slate-600">User's browser, mobile app, IP/geolocation providers</td>
            <td class="border border-slate-600">Combatting fraud/abuse</td>
            <td class="border border-slate-600">Service providers that help us combat fraud/abuse</td>
        </tr>
        <tr>
            <td class="border border-slate-600">Web page views, access times, HTTP headers</td>
            <td class="border border-slate-600">User's browser, mobile app</td>
            <td class="border border-slate-600">Combatting fraud/abuse</td>
            <td class="border border-slate-600">No one</td>
        </tr>
    </table><br />
    <p>We may share some or all of the above listed data in the following circumstances:</p>
    <ul class="list-disc list-inside indent-10">
        <li>to respond to subpoenas, search warrants, court orders, or other legal process.</li>
        <li>to protect the rights, property, or safety of ONLYMARRIAGE users, ONLYMARRIAGE, or the general public.</li>
        <li>at your direction (e.g. if you authorize us to share data with other users).</li>
        <li>in connection with a merger, bankruptcy, or sale/transfer of assets.</li>
    </ul><br />
    <h2 class="text-xl font-bold">3. Data we store</h2>
    <ul class="list-disc list-inside indent-10">
        <li>We retain data as needed to facilitate and personalize your use of ONLYMARRIAGE, combat fraud/abuse and/or as required by law.</li>
        <li>We make good faith efforts to store data securely, but can make no guarantees.</li>
        <li>You may access and update certain data about you via your account login.</li>
    </ul><br />
    <h2 class="text-xl font-bold">4. California Users:</h2>
    <p>To learn more about the California Consumer Privacy Act and how it applies to you, please visit the <a href="https://oag.ca.gov/" target="_blank" class="text-blue-500 hover:text-blue-700 hover:underline">California Attorney-General's website.</a></p>
    <p><strong class="text-bold">Right to know:</strong> You have the right to request that we disclose the data we collect, use and disclose, and other information relating to data we collect about you.</p>
    <p><strong class="text-bold">Right to delete:</strong> You have the right to request the deletion of data that we have collected from you, subject to certain exceptions.</p>
    <p><strong class="text-bold">Right to non-discrimination:</strong> You have the right not to receive discriminatory treatment for exercising the rights listed above.</p>
    <p>You may submit a request to know or delete via <a href="mailto:onlymarriage@proton.me" class="text-blue-500 hover:text-blue-700 hover:underline">onlymarrriage@proton.me</a></p>
    <p>Only you, or someone you authorize to act on your behalf, may make a request to know or delete your data. An authorized agent may make a request on your behalf by providing written permission signed by you.</p>
    <p>We will need to confirm your identity before processing your request by asking you to log into your existing account (if you are a registered user) or by asking you for additional information, such as a government issued ID, to confirm your identity against information we have already collected.</p>
    <p>If you are a registered ONLYMARRIAGE user under the age of 18, you may request (via onlymarriage@proton.me) and obtain removal of content or information publicly posted on ONLYMARRIAGE. Please note that removal does not ensure complete or comprehensive removal of said content or information from the Internet.</p><br />
    <h2 class="text-xl font-bold">5. International Users</h2>
    <p>By accessing ONLYMARRIAGE or providing us data, you agree we may use and disclose data we collect as described here or as communicated to you, transmit it outside your resident jurisdiction, and store it on servers in the United States. For more information please contact our privacy officer at <a href="mailto:onlymarriage@proton.me" class="text-blue-500 hover:text-blue-700 hover:underline">onlymarriage@proton.me.</a></p><br />
    <h2 class="text-xl font-bold">6. Contact</h2>
    <p>If you have any questions or concerns about ONLYMARRIAGE's privacy policy and practices please email <a href="mailto:onlymarriage@proton.me" class="text-blue-500 hover:text-blue-700 hover:underline">onlymarriage@proton.me.</a></p>
{% endblock %}
