{% extends 'base/base.html' %}

{% block meta_description %}Terms of Use for OnlyMarriage{% endblock %}
{% block title %}Terms of Use{% endblock %}
{% block content %}
    <h1 class="text-2xl font-semibold">TERMS OF USE</h1><br />
    <h2 class="text-xl font-medium">WELCOME TO ONLYMARRIAGE</h2><br />
    <p>
        We (OnlyMarriage, Inc.) hope you find it useful. By
        accessing or otherwise iteracting with our servers, services, websites, mobile app ("App"),
        or any associated content/postings (together, "ONLYMARRIAGE"), you agree to these
        Terms of Use ("TOU") (last updated September 01, 2024). You acknowledge and agree
        ONLYMARRIAGE is a private site owned and operated by OnlyMarriage, Inc. If you are
        accessing or using ONLYMARRIAGE on behalf of a business, you represent and warrant to
        ONLYMARRIAGE that you have authority to accept the TOU on behalf of that business and
        that that business agrees to the TOU. If you do not agree to the TOU, you are not
        authorized to use ONLYMARRIAGE or download the App. We may modify the TOU at any
        time in our sole discretion. You are responsible for periodically checking for changes and
        are bound by them if you continue to use ONLYMARRIAGE. All our other policies, site
        rules, and agreements referenced below or on ONLYMARRIAGE, are fully incorporated
        into this TOU, and you agree to them as well.
    </p><br />
    <h2 class="text-xl font-medium inline">LICENSE:</h2>
    <p class="inline">
        If you agree to the TOU and (1) are of sufficient age and capacity to use
        ONLYMARRIAGE and be bound by the TOU, or (2) use ONLYMARRIAGE on behalf of a
        business, thereby binding that business to the TOU, we grant you a limited, revocable,
        non-exclusive, non-assignable license to use ONLYMARRIAGE in compliance with the TOU;
        unlicensed use is unauthorized. You agree not to display, "frame," make derivative works,
        distribute, license, or sell, content from ONLYMARRIAGE, excluding postings you create.
        You grant us a perpetual, irrevocable, unlimited, worldwide, fully paid/sublicensable
        license to use, copy, display, distribute, and make derivative works from content you post.
    </p><br /><br />
    <h2 class="text-xl font-medium inline">USE:</h2>
    <p class="inline">
        Unless licensed by us in a separate written or electronic agreement, you agree not to
        use or provide software (except our App and general purpose web browsers and email
        clients) or services that interact or interoperate with ONLYMARRIAGE, e.g. for
        downloading, uploading, creating/accessing/using an account, posting, flagging, emailing,
        searching, or mobile use. You agree not to copy/collect ONLYMARRIAGE content via
        robots, spiders, scripts, scrapers, crawlers, or any automated or manual equivalent (e.g.,
        by hand). Misleading, unsolicited, and/or unlawful postings/communications/accounts are
        prohibited, as is buying or selling accounts. You agree not to post content that is
        prohibited by any of ONLYMARRIAGE's policies or rules referenced in "Prohibited
        Content". You agree not to abuse ONLYMARRIAGE's flagging or reporting processes. You
        agree not to collect ONLYMARRIAGE user information or interfere with ONLYMARRIAGE.
        You agree we may moderate ONLYMARRIAGE access/use in our sole discretion, e.g., by
        blocking, filtering, re-categorizing, re-ranking, deleting, delaying, holding, omitting,
        verifying, or terminating your access/license/account. You agree (1) not to bypass said
        moderation, (2) we are not liable for moderating or not moderating, and (3) nothing we
        say or do waives our right to moderate, or not. Unless licensed by us in a separate written
        or electronic agreement, you agree not to (i) rent, lease, sell, publish, distribute, license,
        sublicense, assign, transfer, or otherwise make available ONLYMARRIAGE or our
        application programming interface ("API"), (ii) copy, adapt, create derivative works of,
        decompile, reverse engineer, translate, localize, port or modify the App, the API, any
        website code, or any software used to provide ONLYMARRIAGE, (iii) combine or integrate
        ONLYMARRIAGE or the API with any software, technology, services, or materials not
        authorized by us, (iv) circumvent any functionality that controls access to or otherwise
        protects ONLYMARRIAGE or the API, or (v) remove or alter any copyright, trademark or
        other proprietary rights notices. You agree not to use ONLYMARRIAGE or the API in any
        manner or for any purpose that infringes, misappropriates, or otherwise violates any
        intellectual property right or other right of any person, or that violates any applicable law.
    </p><br /><br />
    <h2 class="text-xl font-medium inline">SAFETY:</h2>
    <p class="inline">
        The overwhelming majority of ONLYMARRIAGE users are trustworthy and well-
        meaning. As with all transactions, please practice caution when interacting with others.
    </p><br /><br />
    <h2 class="text-xl font-medium inline">LIQUIDATED DAMAGES:</h2>
    <p class="inline">
        You further agree that if you violate the TOU, or you encourage,
        support, benefit from, or induce others to do so, you will be jointly and severally liable to
        us for liquidated damages as follows for: (A) collecting/harvesting ONLYMARRIAGE users'
        information, including personal or identifying information - $1 per violation; (B)
        publishing/misusing personal or identifying information of a third party in connection with
        your use of ONLYMARRIAGE without that party's express written consent - $1,000 per
        violation; (C) misrepresenting your identity or affiliation to anyone in connection with your
        use of ONLYMARRIAGE - $1,000 per violation; (D) posting or attempting to post Prohibited
        Content - $4 per violation; (E) posting or attempting to post Prohibited Content in any paid
        section of ONLYMARRIAGE - the price per post applicable to that section of ONLYMARRIAGE
        ; (F) sending an unauthorized/unsolicited email to an email address
        obtained from ONLYMARRIAGE - $25 per violation; (G) using ONLYMARRIAGE user
        information to make/send an unauthorized/unsolicited text message, call, or
        communication to a ONLYMARRIAGE user - $500 per text/call/communication; (H) creating
        a misleading or unlawful ONLYMARRIAGE account or buying/selling a ONLYMARRIAGE
        account - $4 per violation; (I) abusing or attempting to abuse ONLYMARRIAGE's flagging or
        reporting processes - $1 per violation; (J) distributing any software to facilitate violations of
        the USE Section - $1,000 per violation; (K) aggregating, displaying, framing, copying,
        duplicating, reproducing, making derivative works from, distributing, licensing, selling, or
        exploiting ONLYMARRIAGE content for any purpose without our express written consent -
        $3,000 for each day you engage in such violations; (L) requesting, viewing, or accessing
        more than 1,000 pages of ONLYMARRIAGE in any 24-hour period - $0.25 per page during
        the 24 hour period after the first 1,000 pages; (M) bypassing or attempting to bypass our
        moderation efforts - $4 per violation. You agree that these amounts are (1) a reasonable
        estimate of our damages (as actual damages are often difficult to calculate), (2) not a
        penalty, and (3) not otherwise limiting on our ability to recover under any legal theory or
        claim, including statutory damages and other equitable relief (e.g., for spam, we can elect
        between the above liquidated damages or statutory damages under the anti-spam
        statute). You further agree that repeated violations of the USE section will irreparably
        harm and entitle us to injunctive or equitable relief, in addition to monetary damages.
    </p><br /><br />
    <h2 class="text-xl font-medium inline">FEES:</h2>
    <p class="inline">
        When you make a paid posting, you authorize us to charge your account. Any tax is
        additional. Fees are non-refundable, even for posts we remove, delay, omit, re-categorize,
        re-rank, or otherwise moderate. We may refuse any posting.
    </p><br /><br />
    <h2 class="text-xl font-medium">Paid Posting Fees</h2>
    <p>All categories’ fees are $5 per post except for Women for Men category which is free.</p>
    <p>Fees do not vary depending on geographic location.</p>
    <p><strong class="font-bold">Payment information is requested at the end of the posting process.</strong></p>
    <p>You can only pay for a posting <strong class="font-bold">via our website at the time that the posting is created.</strong></p>
    <p>Publishing your posting is a <strong class="font-bold">one-time charge.</strong> OnlyMarriage does not have any subscription fees, or additional charges.</p>
    <p>Fees are subject to change.</p><br />
    <strong class="font-bold">All Countries</strong><br /><br />
    <table class="table-fixed border-collapse border border-slate-500">
        <tr>
            <th class="border border-slate-600">Type/Category</th>
            <th class="border border-slate-600">Cost</th>
        </tr>
        <tr>
            <td class="border border-slate-600">All Categories Except Women for Men</th>
            <td class="border border-slate-600">$5</td>
        </tr>
        <tr>
            <td class="border border-slate-600">Women For Men</th>
            <td class="border border-slate-600">Free</td>
        </tr>
    </table><br />
    <h2 class="text-xl font-medium inline">DISCLAIMER & LIABILITY:</h2>
    <p class="inline">
        To the full extent permitted by law, ONLYMARRIAGE, Inc., and
        its officers, directors, employees, agents, licensors, affiliates, and successors in interest
        ("ONLYMARRIAGE Entities") (1) make no promises, warranties, or representations as to
        ONLYMARRIAGE, including its completeness, accuracy, availability, timeliness, propriety,
        security or reliability; (2) provide ONLYMARRIAGE on an "AS IS" and "AS AVAILABLE" basis
        and any risk of using ONLYMARRIAGE is assumed by you; (3) disclaim all warranties,
        express or implied, including as to accuracy, merchantability, fitness for a particular
        purpose, and non-infringement, and all warranties arising from course of dealing, usage,
        or trade practice; and (4) disclaim any liability or responsibility for acts, omissions, or
        conduct of you or any party in connection with ONLYMARRIAGE. ONLYMARRIAGE Entities
        are NOT liable for any direct, indirect, consequential, incidental, special, punitive, or other
        losses, including lost profits, revenues, data, goodwill, etc., arising from or related to
        ONLYMARRIAGE, and in no event shall such liability exceed $100 or the amount you paid
        us in the year preceding such loss. Some jurisdictions restrict or alter these disclaimers
        and limits, so some may not apply to you.
    </p><br /><br />
    <h2 class="text-xl font-medium inline">CLAIMS & INDEMNITY:</h2>
    <p class="inline">
        Any claim, cause of action, demand, or dispute arising from or
        related to ONLYMARRIAGE ("claims") will be governed by the internal laws of Vanuatu,
        without regard to conflict of law provisions, except to the extent governed by Vanuatu
        federal law. Any claims will be exclusively resolved by courts in Port Vila, Vanuatu (except
        we may seek preliminary or injunctive relief anywhere). You agree to (1) submit to the
        personal jurisdiction of courts in Vanuatu; (2) indemnify and hold ONLYMARRIAGE Entities
        harmless from any claims, losses, liability, or expenses (including attorneys' fees) that
        arise from a third party and relate to your use of ONLYMARRIAGE; and (3) be liable and
        responsible for any claims we may have against your officers, directors, employees,
        agents, affiliates, or any other party, directly or indirectly, paid, directed or controlled by
        you, or acting for your benefit.
    </p><br /><br />
    <h2 class="text-xl font-medium inline">TRADEMARKS:</h2>
    <p class="inline">
        ONLYMARRIAGE, "ONLYMARRIAGE" is a registered trademark.
    </p><br /><br />
    <h2 class="text-xl font-medium inline">PROHIBITED CONTENT:</h2>
    <p class="inline">
        No sex trafficking, no prostitution, no paid or unpaid adult
        services, no content creation, no posting link to other websites or external
        communication.
    </p><br /><br />
    <h2 class="text-xl font-medium inline">MISC:</h2>
    <p class="inline">
        Unless you have entered into a separate written or electronic agreement with us
        that expressly references the TOU, this is the exclusive and entire agreement between us
        and you, and supersedes all prior and contemporaneous understandings, agreements,
        representations, and warranties, both written and oral. Users complying with prior written
        licenses may access ONLYMARRIAGE thereby until authorization is terminated. Our actions
        or silence toward you or anyone else does not waive, modify, or limit the TOU or our
        ability to enforce it. The USE, LIQUIDATED DAMAGES, and CLAIMS & INDEMNITY sections
        survive termination of the TOU, and you will remain bound by those sections. If a TOU
        term is unenforceable, it shall be limited to the least extent possible and supplemented
        with a valid provision that best embodies the intent of the parties. The English version of
        the TOU controls over any translations.
    </p>
{% endblock %}
